*{margin: 0;
  padding: 0; 
  font-family: 'outfit';
}

body {
  background-image:url('/Codes/portfolio/src/assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: rgb(0, 0, 0);
  width: 100%;
}

#blur-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
    z-index: -1;
}